
 <h1 class="h3 mb-4 text-gray-800">Editar produto</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <% if current_user.stockist? %>
          <%= render "form_stockist", product: @product %>
        <% else %>
          <%= render "form", product: @product %>
        <% end %>

      </div>
    </div>
  </div>
</div> 
